<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<a type="button" href="/">Voltar</a>
	</div>
	<form method="post" action="/produto/createProduto">
		<label>Nome/Descrição Categoria:</label>
		<p>
			<input type="text" name="descricao" id="descricao">
		<p>

			<label>Preço:</label>
		<p>
			<input type="number" name="preco" id="preco">
		<p>

			<label>Id fornecedor:</label>
		<p>
			<input type="number" name="fornecedor" id="fornecedor">
		<p>

			<label>Id Categoria:</label>
		<p>
			<input type="number" name="categoria" id="categoria">
		<p>
			<input type="submit" value="Salvar" />
	</form>
	
		<div>
		<a href="/produto/masculino">Masculino</a>
		<a href="/produto/feminino">Feminino</a>
		<a href="/produto/unissex">Unissex</a>
	</div>

	<table>
		<thead>
			<th>Id</th>
			<th>Descricao</th>
			<th>Preco</th>
			<th>Id Fornecedor</th>
			<th>Id Categoria</th>
		</thead>
		<tbody>
			<tr th:each="produto: ${listaProdutos}">
				<td th:text="${produto.getId()}"></td>
				<td th:text="${produto.getDescricao()}"></td>
				<td th:text="${produto.getPreco()}"></td>
				<td th:text="${produto.getFornecedor()}"></td>
				<td th:text="${produto.getCategoria()}"></td>
			</tr>
		</tbody>
	</table>


</body>
</html>