<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Clique e seja direciona para o cadastro:</h1>
	<div class="container">
		<a type="button" href="categoria">Categoria</a>
	</div>
	<div class="container">
		<a type="button" href="cliente">Cliente</a>
	</div>
	</div>
	<div class="container">
		<a type="button" href="fornecedor">Fornecedor</a>
	</div>
	<div class="container">
		<a type="button" href="produto">Produto</a>
	</div>

	<h1>Tela de produtos</h1>
	<table>
		<thead>
			<th>Id</th>
			<th>Descricao</th>
			<th>Preco</th>
			<th>Id Fornecedor</th>
			<th>Id Categoria</th>
		</thead>
		<tbody>
			<tr th:each="produtos : ${listaProdutos}">
				<td th:text="${produtos.getId()}"></td>
				<td th:text="${produtos.getDescricao()}"></td>
				<td th:text="${produtos.getPreco()}"></td>
				<td th:text="${produtos.getFornecedor()}"></td>
				<td th:text="${produtos.getCategoria()}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>