<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Clique e seja direciona para o cadastro:</h1>
	<div class="container">
		<a type="button" href="categoria">Categoria</a>
	</div>
	<div class="container">
		<a type="button" href="cliente/create">Cliente</a>
	</div>
	</div>
	<div class="container">
		<a type="button" href="fornecedor/create">Fornecedor</a>
	</div>
	<div class="container">
		<a type="button" href="fornecedor/create">Produto</a>
	</div>
</body>
</html>